
<!DOCTYPE html>
<html>
<head>
	<title>TUTION~PROVIDER~PROFILE~PiCTURE</title>
  <link rel="stylesheet" type="text/css"  href="/tpic.png" >

	<script type="text/javascript">
	function valid()
	{
		var mypic = document.forms["tprform"]["file"].value;

		if(mypic=="")
		{
			alert("NO FiLE is SELECTED YET !!");
			return false;
		}

	}
	</script>


</head>
<body><center>
		<br>
		<a href="/dashboard">B  A  C  K</a>
</center></body>
</html>
